In [127]:
import os
import numpy as np
import matplotlib.pyplot as plt

from pathlib import Path

from mechanize import Browser
from bs4 import BeautifulSoup
import requests

from tqdm import tqdm
from time import sleep
from selenium import webdriver

import pandas as pd
import lxml.html as lh


from sqlalchemy import create_engine
import pymysql

In [156]:
## MOST ACCURATE ONE SINCE I CAN EXTRAPOLATE THE EXACT DATA I NEED (H3S, ETC)
currp = 1
maxp = 1
# ^ For page numbers of same link (not working no idea why)
#tempdf = df
chartarr = []
df = pd.DataFrame(columns = ['Politician', 'Issuer', 'Ticker', 'Trade Date', 'Type', 'Size', 'Price', 'Analyst Rating'])
print(df)


while currp <= maxp:
    page =  f'https://www.capitoltrades.com/trades?page={currp}'
    print(page)
    r = requests.get(page)
    soup = BeautifulSoup(r.text, 'html.parser') 
    poltable = soup.find('table')

    for team in poltable.find_all('tbody'):
        rows = team.find_all('tr', class_ = 'q-tr')
        for row in rows:
            ### NAME ###
            poli = row.find('td', class_ = 'q-td q-column--politician')
            for po in poli:
                name = po.find('h3', class_ = 'q-fieldset politician-name').text
                #print(name)

            ### ISSUER AND TICKER ###
            issuer = row.find('td', class_ = 'q-td q-column--issuer')
            for iss in issuer:
                issuerTitle = iss.find('h3', class_ = 'q-fieldset issuer-name').text
                ticker = iss.find('span', class_ = 'q-field issuer-ticker').text
                #print(ticker)
                #print(issuerTitle)
            
            ### DATE TRADED ###
            date = row.find('td', class_ = 'q-td q-column--txDate')
            for dates in date:
                year = dates.find('div', class_ = 'q-label').text
                day = dates.find('div', class_ = 'q-value').text
                tradeDate = year + day
                #print(day,year)
            
            ### TRADE TYPE (BUY/SELL) ###
            tradeTy = row.find('td', class_ = 'q-td q-column--txType').text
            #print(tradeTy)
            
            ### TRADED RANGE AMOUNT ###       
            result_prices_pc = row.find("span", attrs={"class": "text hoverable text--size-s text--color-light"})
            size = result_prices_pc.text
            #print(result_prices_pc.text)
            
            ### PRICE TRADED AT ###
            price = row.find('td', class_ = 'q-td q-column--price').text
            #price = float(price)
            try:
                price = float(price)
                
            except:
                price = 'N/A'
                pass
            
            #print(price)
            
            ### APPENDING ###
            df = df.append({'Politician' : name, 'Issuer' : issuerTitle, 'Ticker' : ticker, 'Trade Date' : tradeDate, 
                'Type' : tradeTy, 'Size' : size, 'Price' : price}, ignore_index = True)
            
        ### MARKETWATCH PHASE FOR ANALYTICS ###    
        for tix, price in zip(df['Ticker'], df['Price']):
            sleep(10)
            
            tickerPart = tix.partition(':')
            tickerSymb = tickerPart[0]
            tickerCountry = tickerPart[2]                
            
            if tickerCountry == 'US':
                mpage = f'http://www.marketwatch.com/investing/stock/{tickerSymb}?mod=search_symbol'
                mwr = requests.get(mpage)
                msoup = BeautifulSoup(mwr.text, 'html.parser')
                
                if(price == 'N/A'):
                    #Make a function to grab price on whenever the trade day was. Make sure Ticker is valid
                    pass

                chart = msoup.find('li', class_ = 'analyst__option active').text
                chartarr.append(chart)
            else:
                notus = 'NOT US'
                chartarr.append(notus)                
                
                
    #sleep(5)
    df['Analyst Rating'] = chartarr
    currp += 1
    #sleep(10)
    
    
#frames = [df, tempdf]
#result = pd.concat(frames)
#print(tempdf)
print(df)
#print(chartarr)

Empty DataFrame
Columns: [Politician, Issuer, Ticker, Trade Date, Type, Size, Price, Analyst Rating]
Index: []
https://www.capitoltrades.com/trades?page=1
          Politician                                  Issuer   Ticker   Trade Date         Type         Size   Price Analyst Rating
0   Tommy Tuberville                    Cleveland-Cliffs Inc   CLF:US  2022 18 Jul          buy   50K - 100K   15.53           Over
1   Tommy Tuberville                     ChannelAdvisor Corp  ECOM:US  2022 14 Jul          buy  100K - 250K   14.15            Buy
2   Tommy Tuberville                             CME SOYBEAN      N/A  2022 27 Jul          buy     1K - 15K     N/A         NOT US
3   Tommy Tuberville                             CME SOYBEAN      N/A  2022 27 Jul         sell     1K - 15K     N/A         NOT US
4   Tommy Tuberville                             CME SOYBEAN      N/A  2022 25 Jul          buy     1K - 15K     N/A         NOT US
5   Tommy Tuberville                        CME SOYBEAN MEAL      N/A   2022 8 Jul         sell     1K - 15K     N/A         NOT US
6   Tommy Tuberville                        CME SOYBEAN MEAL      N/A   2022 7 Jul         sell     1K - 15K     N/A         NOT US
7   Tommy Tuberville                                CME CORN      N/A   2022 1 Jul          buy     1K - 15K     N/A         NOT US
8     Brad Schneider                           Trupanion Inc  TRUP:US   2021 8 Feb  sellpartial   50K - 100K  123.86           Over
9     Brad Schneider                           Trupanion Inc  TRUP:US   2021 7 Dec         sell    15K - 50K  155.41           Over
10      Mary Scanlon                             Corteva Inc  CTVA:US  2021 12 Feb         sell     1K - 15K   44.37           Over
11      Mary Scanlon                                 Dow Inc   DOW:US  2021 12 Feb         sell     1K - 15K   58.15           Hold
12      Mary Scanlon                  DuPont  De Nemours Inc    DD:US   2021 1 Feb      receive     1K - 15K     N/A           Over
13      Mary Scanlon  International Flavors & Fragrances Inc   IFF:US  2021 12 Feb         sell     1K - 15K  134.06           Over
14      Mary Scanlon                             Oracle Corp  ORCL:US  2021 12 Feb         sell    15K - 50K   63.08           Hold

In [111]:
df.head(5)
print(len(df))
output_path='capFinal81.csv'
df.to_csv(output_path, mode='a', header=not os.path.exists(output_path))

15

In [ ]:
print(df)

In [171]:
##### New Version ####
dataf = df
#create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="amadeus001",
                               db="stockX"))

dataf.to_sql('politables', con = engine, if_exists = 'append', chunksize = 1000)
    


#finally: engine.close() #close connection

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '0' for key 'politables.PRIMARY'")
[SQL: INSERT INTO politables (`index`, `Politician`, `Issuer`, `Ticker`, `Trade Date`, `Type`, `Size`, `Price`, `Analyst Rating`) VALUES (%(index)s, %(Politician)s, %(Issuer)s, %(Ticker)s, %(Trade Date)s, %(Type)s, %(Size)s, %(Price)s, %(Analyst Rating)s)]
[parameters: ({'index': 0, 'Politician': 'Tommy Tuberville', 'Issuer': 'Cleveland-Cliffs Inc', 'Ticker': 'CLF:US', 'Trade Date': '2022 18 Jul', 'Type': 'buy', 'Size': '50K - 100K', 'Price': 15.53, 'Analyst Rating': 'Over'}, {'index': 1, 'Politician': 'Tommy Tuberville', 'Issuer': 'ChannelAdvisor Corp', 'Ticker': 'ECOM:US', 'Trade Date': '2022 14 Jul', 'Type': 'buy', 'Size': '100K - 250K', 'Price': 14.15, 'Analyst Rating': 'Buy'}, {'index': 2, 'Politician': 'Tommy Tuberville', 'Issuer': 'CME SOYBEAN', 'Ticker': 'N/A', 'Trade Date': '2022 27 Jul', 'Type': 'buy', 'Size': '1K - 15K', 'Price': 'N/A', 'Analyst Rating': 'NOT US'}, {'index': 3, 'Politician': 'Tommy Tuberville', 'Issuer': 'CME SOYBEAN', 'Ticker': 'N/A', 'Trade Date': '2022 27 Jul', 'Type': 'sell', 'Size': '1K - 15K', 'Price': 'N/A', 'Analyst Rating': 'NOT US'}, {'index': 4, 'Politician': 'Tommy Tuberville', 'Issuer': 'CME SOYBEAN', 'Ticker': 'N/A', 'Trade Date': '2022 25 Jul', 'Type': 'buy', 'Size': '1K - 15K', 'Price': 'N/A', 'Analyst Rating': 'NOT US'}, {'index': 5, 'Politician': 'Tommy Tuberville', 'Issuer': 'CME SOYBEAN MEAL', 'Ticker': 'N/A', 'Trade Date': '2022 8 Jul', 'Type': 'sell', 'Size': '1K - 15K', 'Price': 'N/A', 'Analyst Rating': 'NOT US'}, {'index': 6, 'Politician': 'Tommy Tuberville', 'Issuer': 'CME SOYBEAN MEAL', 'Ticker': 'N/A', 'Trade Date': '2022 7 Jul', 'Type': 'sell', 'Size': '1K - 15K', 'Price': 'N/A', 'Analyst Rating': 'NOT US'}, {'index': 7, 'Politician': 'Tommy Tuberville', 'Issuer': 'CME CORN', 'Ticker': 'N/A', 'Trade Date': '2022 1 Jul', 'Type': 'buy', 'Size': '1K - 15K', 'Price': 'N/A', 'Analyst Rating': 'NOT US'}  ... displaying 10 of 15 total bound parameter sets ...  {'index': 13, 'Politician': 'Mary Scanlon', 'Issuer': 'International Flavors & Fragrances Inc', 'Ticker': 'IFF:US', 'Trade Date': '2021 12 Feb', 'Type': 'sell', 'Size': '1K - 15K', 'Price': 134.06, 'Analyst Rating': 'Over'}, {'index': 14, 'Politician': 'Mary Scanlon', 'Issuer': 'Oracle Corp', 'Ticker': 'ORCL:US', 'Trade Date': '2021 12 Feb', 'Type': 'sell', 'Size': '15K - 50K', 'Price': 63.08, 'Analyst Rating': 'Hold'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [199]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='amadeus001',
                             db='stockX')

# Create cursor
my_cursor = connection.cursor()
#[index], [politician], [issuer], [ticker], [trade date], [type], [size], [price], [analyst rsting]
# Execute Query
my_cursor.execute('SELECT * FROM politables')

# Fetch the records
result = my_cursor.fetchall()

for i in result:
    print(i)

# Close the connection
#connection.close()

### Make it so we have the index as the primary KEY, and future appended data

(0, 'Tommy Tuberville', 'Cleveland-Cliffs Inc', 'CLF:US', '2022 18 Jul', 'buy', '50K - 100K', '15.53', 'Over')
(1, 'Tommy Tuberville', 'ChannelAdvisor Corp', 'ECOM:US', '2022 14 Jul', 'buy', '100K - 250K', '14.15', 'Buy')
(2, 'Tommy Tuberville', 'CME SOYBEAN', 'N/A', '2022 27 Jul', 'buy', '1K - 15K', 'N/A', 'NOT US')
(3, 'Tommy Tuberville', 'CME SOYBEAN', 'N/A', '2022 27 Jul', 'sell', '1K - 15K', 'N/A', 'NOT US')
(4, 'Tommy Tuberville', 'CME SOYBEAN', 'N/A', '2022 25 Jul', 'buy', '1K - 15K', 'N/A', 'NOT US')
(5, 'Tommy Tuberville', 'CME SOYBEAN MEAL', 'N/A', '2022 8 Jul', 'sell', '1K - 15K', 'N/A', 'NOT US')
(6, 'Tommy Tuberville', 'CME SOYBEAN MEAL', 'N/A', '2022 8 Jul', 'sell', '1k - 15k', 'N/A', 'NOT US')
(7, 'Tommy Tuberville', 'CME CORN', 'N/A', '2022 1 Jul', 'buy', '1K - 15K', 'N/A', 'NOT US')
(8, 'Brad Schneider', 'Trupanion Inc', 'TRUP:US', '2021 8 Feb', 'sellpartial', '50K - 100K', '123.86', 'Over')
(9, 'Brad Schneider', 'Trupanion Inc', 'TRUP:US', '2021 7 Dec', 'sell', '15K - 50K', '155.41', 'Over')
(10, 'Mary Scanlon', 'Corteva Inc', 'CTVA:US', '2021 12 Feb', 'sell', '1K - 15K', '44.37', 'Over')
(11, 'Mary Scanlon', 'Dow Inc', 'DOW:US', '2021 12 Feb', 'sell', '1K - 15K', '58.15', 'Hold')
(12, 'Mary Scanlon', 'DuPont  De Nemours Inc', 'DD:US', '2021 1 Feb', 'receive', '1K - 15K', 'N/A', 'Over')
(13, 'Mary Scanlon', 'International Flavors & Fragrances Inc', 'IFF:US', '2021 12 Feb', 'sell', '1K - 15K', '134.06', 'Over')
(14, 'Mary Scanlon', 'Oracle Corp', 'ORCL:US', '2021 12 Feb', 'sell', '15K - 50K', '63.08', 'Hold')

In [200]:
### GRABBING LAST ROW TO GET THE LAST INDEX FROM SQL, SO WE CAN INCREMENT THAT AND INSERT BACK FROM DF WITH UNIQUE KEYS ###
#select *from politables order by stockX.politables.index DESC LIMIT 1;
#my_cursor.execute('select *from politables order by stockX.politables.index DESC LIMIT 1;')

#lastRow = my_cursor.fetchall()

print(lastRow[0][0]) #Last index
#'6','Tommy Tuberville','CME SOYBEAN MEAL','N/A','2022 8 Jul','sell','1k - 15k','N/A','NOT US'


### Insert new rows and make sure there arent duplicates, Name, ticker, date, type, amount

### This is the command to remove duplicates and keep the one with the lesser primary key. 
# gotta figure out how to rehash the primary key and update it
my_cursor.execute("""
DELETE t1 FROM politables t1
INNER JOIN politables t2
WHERE
    t1.index > t2.index AND
    t1.politician = t2.politician AND
    t1.issuer = t2.issuer AND
    t1.type = t2.type AND
    t1.size = t2.size AND
    t1.trade_date = t2.trade_date; """)

updated = my_cursor.fetchall()
connection.commit() ########## !!!!! DO NOT FORGET TO COMMIT CHANGES

14

In [201]:
my_cursor = connection.cursor()
#[index], [politician], [issuer], [ticker], [trade date], [type], [size], [price], [analyst rsting]
# Execute Query
my_cursor.execute('SELECT * FROM politables')

# Fetch the records
result = my_cursor.fetchall()

for i in result:
    print(i)

(0, 'Tommy Tuberville', 'Cleveland-Cliffs Inc', 'CLF:US', '2022 18 Jul', 'buy', '50K - 100K', '15.53', 'Over')
(1, 'Tommy Tuberville', 'ChannelAdvisor Corp', 'ECOM:US', '2022 14 Jul', 'buy', '100K - 250K', '14.15', 'Buy')
(2, 'Tommy Tuberville', 'CME SOYBEAN', 'N/A', '2022 27 Jul', 'buy', '1K - 15K', 'N/A', 'NOT US')
(3, 'Tommy Tuberville', 'CME SOYBEAN', 'N/A', '2022 27 Jul', 'sell', '1K - 15K', 'N/A', 'NOT US')
(4, 'Tommy Tuberville', 'CME SOYBEAN', 'N/A', '2022 25 Jul', 'buy', '1K - 15K', 'N/A', 'NOT US')
(5, 'Tommy Tuberville', 'CME SOYBEAN MEAL', 'N/A', '2022 8 Jul', 'sell', '1K - 15K', 'N/A', 'NOT US')
(7, 'Tommy Tuberville', 'CME CORN', 'N/A', '2022 1 Jul', 'buy', '1K - 15K', 'N/A', 'NOT US')
(8, 'Brad Schneider', 'Trupanion Inc', 'TRUP:US', '2021 8 Feb', 'sellpartial', '50K - 100K', '123.86', 'Over')
(9, 'Brad Schneider', 'Trupanion Inc', 'TRUP:US', '2021 7 Dec', 'sell', '15K - 50K', '155.41', 'Over')
(10, 'Mary Scanlon', 'Corteva Inc', 'CTVA:US', '2021 12 Feb', 'sell', '1K - 15K', '44.37', 'Over')
(11, 'Mary Scanlon', 'Dow Inc', 'DOW:US', '2021 12 Feb', 'sell', '1K - 15K', '58.15', 'Hold')
(12, 'Mary Scanlon', 'DuPont  De Nemours Inc', 'DD:US', '2021 1 Feb', 'receive', '1K - 15K', 'N/A', 'Over')
(13, 'Mary Scanlon', 'International Flavors & Fragrances Inc', 'IFF:US', '2021 12 Feb', 'sell', '1K - 15K', '134.06', 'Over')
(14, 'Mary Scanlon', 'Oracle Corp', 'ORCL:US', '2021 12 Feb', 'sell', '15K - 50K', '63.08', 'Hold')